<%- include('partials/header') %>

<h1>My Personal Book Collection</h1>

<% if (books.length === 0) { %>
    <p>Your collection is empty. Click on "Search Online & Add" to bring some books here!</p>
<% } else { %>
    <div class="book-grid">
        <% books.forEach(book => { %>
            <div class="book-card">
                <img src="<%= book.thumbnail %>" alt="<%= book.title %>">
                <h3><%= book.title %></h3>
                <p>By: <%= book.authors %></p>
                <a href="/books/<%= book.id %>" class="btn btn-primary">View Details</a>
            </div>
        <% }) %>
    </div>
<% } %>

<%- include('partials/footer') %>